In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [2]:
pwd = os.getcwd()
filepath = os.path.join(pwd, 'dataset/titanic.csv')

In [3]:
df = pd.read_csv(filepath)

In [4]:
def data_cleaning(df):
    df.drop(['Name', 'Cabin', 'Ticket'], axis=1, inplace=True)
    df.dropna(subset=["Embarked"], inplace=True)
    imputer = SimpleImputer(strategy="median")
    df_num = df.select_dtypes(include=[np.number])
    imputer.fit(df_num)
    x=imputer.transform(df_num)
    df[df_num.columns]=pd.DataFrame(x, columns=df_num.columns, index=df_num.index)
    return df

In [5]:
def one_hot_encode(df):
    df_cat = df[["Sex", "Embarked"]]
    cat_encoder = OneHotEncoder(sparse=False)
    df_cat_1hot = cat_encoder.fit_transform(df_cat)
    feature_names = cat_encoder.get_feature_names_out(["Sex", "Embarked"])
    new_df = pd.DataFrame(df_cat_1hot, columns=feature_names, index=df.index)
    df.drop(['Sex', 'Embarked'], axis=1, inplace=True)
    df = pd.concat([df, new_df], axis=1)
    return df